/**
* @name SlyteTheme
* @author onexev
* @authorLink https://vk.com/prostne
* @version 1.6
* @source https://github.com/1xev3/Slyte-Theme
* @description ello this is my theme lol.
*/

/* BASE (DONT DELETE) */
@import url("https://1xev3.github.io/Slyte-Theme/slytebase.css");

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

/* CONFIG */
:root {
--title: "S L Y T E";
--titlecolor: rgb(107 100 115);

--background: url("https://cdn.fishki.net/upload/post/201504/18/1505951/46eb5f16148c52ccfb11310a191315b9.jpg");
--darken: 75%;

--font: 'Montserrat', sans-serif;
--time: 10s;
--blur: 10px;
--ListenAlong: "Listen Along";

--Online: rgb(0 255 136);
--Idle: rgb(0 99 156);
--Unavailable: rgb(228 15 0);
--Offline: rgb(90 95 100);
--white: rgb(202 200 255);
--grey: rgb(77 70 85);
--darkgrey: rgb(18 18 22);
--darkgrey2: rgb(28 28 32);
--grey5: rgb(77 70 85 / 50%);
--darkgrey5: rgb(18 18 22 / var(--darken));
--green: rgb(30, 215, 96);
--ActiveBox: rgb(235 235 235);
--StreamingColor: rgb(78 0 180);

--TitleBG: var(--darkgrey5);
--Sidebar: var(--darkgrey5);
--HoverMessage: var(--darkgrey5);
--Highlighted: var(--grey5);

--rs-small-spacing: 0px;
--rs-large-spacing: 0px;
--rs-width: 1.5px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
}

